{% extends "webpage/base.html" %}


{% block custom_dropdown_menus %}


{% for key, entity_types in entity_groups.items %}
   <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">
       {{key}}
    <span class="caret"/>
    </a>
    <div class="dropdown-menu pb-0" aria-labelledby="navbarDropdown">

    {% if entity_types.Entities %}
    <div class="border-bottom border-thick w-full text-light small text-center user-select-none" style="background-color: #254aa5; cursor: default; max-height: 75%; overflow-y: scroll;">ENTITIES</div>
    {% endif %}
    {% for ent in entity_types.Entities %}
        <abbr title="{{ent.2}}"> <span class="d-flex justify-content-between border-bottom dropdown-item p-0">
           <a class="dropdown-item pt-3" href="{% url 'apis:apis_entities:generic_entities_list' ent.0 %}"><span>{{ ent.1 }}</span></a> 
            <a class="btn btn-primary mt-2 mr-2" href="{% url 'apis:apis_entities:generic_entities_create_view' ent.0 %}">+</a>
          
        </span> </abbr>
    {% endfor %}

    {% if entity_types.Statements %}
    <div class="border-bottom border-thick w-full text-light small text-center user-select-none" style="background-color: #254aa5; cursor: default">STATEMENTS</div>
    {% endif %}
    {% for ent in entity_types.Statements %}
        <span class="d-flex justify-content-between border-bottom dropdown-item p-0">
            <a class="dropdown-item pt-3" href="{% url 'apis:apis_entities:generic_entities_list' ent.0 %}"><span>{{ ent.1 }}</span></a>
            <a class="btn btn-primary mt-2 mr-2" href="{% url 'apis:apis_entities:generic_entities_create_view' ent.0 %}">+</a>
        </span>
    {% endfor %}
 
    
    </div>
</li>
{% endfor %}
{% endblock %}